
<!-- Imports polymer -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-localstorage/iron-localstorage.html">
<link rel="import" href="../iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="../pepsweetener-glycan-filter/pepsweetener-glycan-filter.html">
<link rel="import" href="../pepsweetener-multi-result/pepsweetener-multi-result.html">
<link rel="import" href="../simple-search-tutorial/simple-search-tutorial.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<!-- Defines element markup -->
<dom-module id="pepsweetener-simple-search">
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style is="simple-search-style">
        :root {
            height: 100%;

        --paper-input-container-input: {
             border-radius: 3px;
             font-size: 18px;
             line-height: 32px;

         };

        --paper-input-container-label:{
             padding-bottom: 10px;
             padding-left: 5px;
             font-size: 18px;
             line-height: 32px;
         };

        --paper-input-error:{
             line-height: 32px;
             font-size: 18px;
         };

        /* Label and underline color when the input is focused */
        --paper-input-container-focus-color: blue;

        /* Label and underline color when the input is invalid */
        --paper-input-container-invalid-color: red;

        /* Input foreground color */
        --paper-input-container-input-color: black;

        --paper-spinner-stroke-width: 3px;
        }

        paper-header-panel {
            margin-left: 36px;
            margin-right: 36px;
            min-width: 760px;
        }

        paper-input {
            display: inline-block;
            margin: 20px 30px 30px 0px;
        }

        paper-dropdown-menu {
            display: inline-block;
            width: 60px;
            margin: 28px 30px 30px 5px;
        }

        paper-button.indigo {
            font-family: "Roboto";
            background-color: var(--paper-indigo-500);
            color: white;
        --paper-button-raised-keyboard-focus: {
             background-color: var(--paper-indigo-a300) !important;
             color: white !important;
         };
        }

        paper-spinner {
            top: 8px;
            height: 40px;
            width: 40px;
        }

        iron-icon[disabled]{
            display: none;
        }

        .paper-header {
            font-family: "Roboto";
            height: 50px;
            font-size: 20px;
            line-height: 50px;
            padding: 0 10px;
            color: white;
            transition: height 0.2s;
            border-radius: 5px 5px 0 0;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
        .blue .paper-header {
            background-color: var(--paper-indigo-500);
        }
        .short {
            margin-right: 0px;
            width: 100px;
        }
        .long {
            width: 55%;
        }
        .toggle-span-label {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding-left:  8px;
            padding-top: 2px;
            pointer-events: none;
            font-family: 'Roboto', 'Noto', sans-serif;
            min-width: 140px;
        }

        .boxTitle {
            font-family: 'Roboto', 'Noto', sans-serif;
            margin-left: 40px;
            font-size: larger;
        }

        #searchBox{
            border: 1px solid black;
            margin-left: 36px;
            margin-right: 36px;
            padding-left: 20px;
            min-width: 738px;
            border-radius: 0 0 5px 5px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        #masses{
            min-width: 180px;
        }

        .buttonPadding{
            padding-top: 47px;
        }
    </style>
    <template>
        <iron-ajax
            id="ajax"
            method="GET",
            handle-as="json"
            on-response="handleResponse"
            debounce-duration="1500">
        </iron-ajax>
        <iron-a11y-keys id="a11y" target="[[_form]]" keys="enter" on-keys-pressed="search"></iron-a11y-keys>
        <paper-header-panel class="blue" mode="standard">
            <div class="paper-header">Search dataset created by combination of human proteome N-glycosite containing tryptic peptides and UniCarb-DB glycans</div>
        </paper-header-panel>

        <form is="iron-form" id="simpleSearchForm" class="form-inline">
            <div id="searchBox" class="horizontal layout wrap">
                <paper-input id="masses" name="masses"
                             label="Comma-separated list of hypothetical N-glycopeptide masses (Da) / precursor ions"
                             value="{{masses}}"
                             pattern="^(\s*\d{1,5}(\.\d+){0,1}(\([-+]\d{1}\)){0,1},{0,1})+$"
                             required
                             error-message="Incorrect value! Follow those examples: 831.456(+2) or 3456.3456" class="long">
                </paper-input>
                <paper-input id="tolerance" name="tolerance"
                             label="tolerance" value="{{toleranceValue}}"
                             required
                             error-message="Numeric values only!" class="short">
                             <!--pattern="\d{1,4}(\.\d+){0,1}" auto-validate-->
                </paper-input>
                <iron-localstorage name="toleranceValueCache" value="{{toleranceValue}}"
                                   on-iron-localstorage-load-empty="_initializeDefaultTolValue">
                </iron-localstorage>
                <paper-dropdown-menu>
                    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{toleranceUnit}}">
                        <paper-item value="ppm">ppm</paper-item>
                        <paper-item value="Da">Da</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <iron-localstorage name="toleranceUnitCache" value="{{toleranceUnit}}"
                                   on-iron-localstorage-load-empty="_initializeDefaultTolUnit">
                </iron-localstorage>
                <div class="buttonPadding">
                    <paper-button raised class="indigo" on-click="search"><iron-icon icon="search"></iron-icon>search</paper-button>
                    <paper-spinner id="spinner"></paper-spinner>
                </div>
            </div>
        </form>
        <simple-search-tutorial></simple-search-tutorial>
        <pepsweetener-glycan-filter id="glycanFilterElement" filter="{{glycanFilter}}"></pepsweetener-glycan-filter>
        <pepsweetener-multi-result id="sResults"></pepsweetener-multi-result>
    </template>

    <!-- Registers custom element -->
    <script>
        Polymer({
            is: 'pepsweetener-simple-search',
            properties: {
                apiUrl: {
                    type: String,
                    reflectToAttribute:true,
                    value: 'http://glycoproteome.expasy.org/api/database/'
                },
                masses: {
                    type: String
                },
                toleranceUnit: {
                    type: String
                },
                toleranceValue: {
                    type: Number
                },
                maxTolerance: {
                    type: Object,
                    value: {
                        ppm: 100,
                        da: 0.1
                    }
                },
                glycanFilter: {
                    type: Object
                },
                _form: {
                    type: Object,
                    value: function () {
                        return this.$.simpleSearchForm;
                    }
                }
            },
            search: function(){
                if (!this.masses=='') {
                    if(this.$.masses.validate() && this._validateTolerance()){
                        this.$.spinner.active=true;
                        var chargeStatePattern = /\((\+\d+|\-\d+)\)/g;
                        var queryList = this.masses.split(",");//.filter(Number);
                        var labelList = queryList;
                        for(var i=0; i<queryList.length; i++){
                            var chargeState = queryList[i].match(chargeStatePattern);
                            if (chargeState){
                                var mz = queryList[i].replace(chargeState[0], "");
                                chargeState = new Number(chargeState[0].replace("(","").replace(")",""));
                                queryList[i] = Math.abs((mz*chargeState)-(1.00727646677*chargeState)).toFixed(4);
                            } else {
                                queryList[i] = (queryList[i].trim());
                            }
                        }

                        var nonRedundantQueryList = queryList.filter(function(item, pos) {
                            return queryList.indexOf(item) == Math.abs(pos);
                        });
                        var nonRedundantLabelList = labelList.filter(function(item, pos) {
                            return queryList.indexOf(item) == Math.abs(pos);
                        });
                        var multiResultElement = Polymer.dom(this.root).querySelector('#sResults');
                        if (nonRedundantLabelList.length==nonRedundantQueryList.length)
                            multiResultElement.masses = nonRedundantLabelList;
                        else
                            multiResultElement.masses = nonRedundantQueryList;
                        multiResultElement.datasets = {};

                        this.queryMasses = {};
                        this.queryBuckets = {};
                        this.sentRequests = {};
                        this.minMasses = {};
                        this.maxMasses = {};
                        this.minBucketMasses = {};
                        this.maxBucketMasses = {};
                        this.matchedGlycopeptides = {};

                        this.$.glycanFilterElement.querySelector("#glycanFilterBox").removeAttribute('opened');
                        for(var idx in nonRedundantQueryList){
                            var mass = nonRedundantQueryList[idx];
                            if (this.toleranceUnit=="Da"){
                                var daTolerance = Number(this.toleranceValue);
                            }else{
                                var daTolerance = this._ppmToDalton(mass,this.toleranceValue);
                            }
                            var queryMass = Number(mass);
                            var bucketMass = Math.round( queryMass * 10 );
                            this.queryMasses[bucketMass] = mass;
                            this.queryBuckets[bucketMass] = bucketMass;
                            this.minMasses[bucketMass] = Number(queryMass) - daTolerance;
                            this.maxMasses[bucketMass] = Number(queryMass) + daTolerance;
                            this.minBucketMasses[bucketMass] = Math.floor(this.minMasses[bucketMass]*10);
                            this.maxBucketMasses[bucketMass] = Math.ceil(this.maxMasses[bucketMass]*10);
                            this.matchedGlycopeptides[bucketMass]=[];
                            if (this.minBucketMasses[bucketMass]==this.maxBucketMasses[bucketMass]){
                                this.$.ajax.url = new String(this.apiUrl+"/QRANGE/"+minimalBucketMass+"/0/-1").replace(/\/\/QRANGE/g, "/QRANGE");
                                this.sentRequests[bucketMass] = [bucketMass];
                                this.$.ajax.generateRequest();
                            }else{
                                if(this.minBucketMasses[bucketMass]<bucketMass) this.queryBuckets[this.minBucketMasses[bucketMass]]=bucketMass;
                                this.$.ajax.url = new String(this.apiUrl+"/QRANGE/"+this.minBucketMasses[bucketMass]+"/0/-1").replace(/\/\/QRANGE/g, "/QRANGE");
                                this.sentRequests[bucketMass] = [this.minBucketMasses[bucketMass]];
                                this.$.ajax.generateRequest();
                                var minimalBucketMass = this.minBucketMasses[bucketMass]+1;
                                while (minimalBucketMass!=this.maxBucketMasses[bucketMass]){
                                    this.queryBuckets[minimalBucketMass]=bucketMass;
                                    this.$.ajax.url = new String(this.apiUrl+"/QRANGE/"+minimalBucketMass+"/0/-1").replace(/\/\/QRANGE/g, "/QRANGE");
                                    this.sentRequests[bucketMass].push(minimalBucketMass);
                                    this.$.ajax.generateRequest();
                                    minimalBucketMass+=1;
                                }
                                if(this.maxBucketMasses[bucketMass]>bucketMass) this.queryBuckets[this.maxBucketMasses[bucketMass]]=bucketMass;
                                this.$.ajax.url = new String(this.apiUrl+"/QRANGE/"+minimalBucketMass+"/0/-1").replace(/\/\/QRANGE/g, "/QRANGE");
                                this.$.ajax.generateRequest();
                                this.sentRequests[bucketMass].push(this.maxBucketMasses[bucketMass]);
                            }
                        }
                    }
                }
            },
            handleResponse: function(request) {
                var bucketMass = request.detail.url.split('QRANGE/')[1];
                bucketMass = bucketMass.split('/')[0];
                var response = request.detail.response;
                var queryMass = this.queryBuckets[bucketMass];
                this.sentRequests[queryMass].splice(this.sentRequests[queryMass].indexOf(bucketMass));
                this._parseResponse(response, bucketMass);
                if (this.sentRequests[queryMass].length==0){
                    var heatmapDataset = this._generateHeatmapDataset(queryMass);
                    this.$.sResults.newDataset(heatmapDataset);
                }
            },
            _parseResponse: function(response, bucketMass){
                var self = this;
                var queryMass = this.queryBuckets[bucketMass];
                var nonRedundantBucket = response["QRANGE"].filter(function(item, pos) {
                    return response["QRANGE"].indexOf(item) == pos;
                });
                //if(bucketMass==this.minBucketMasses[queryMass] || bucketMass==this.maxBucketMasses[queryMass]){
                nonRedundantBucket.forEach(function (glycopeptide){
                    if(self._checkMass(glycopeptide.split(',')[2], self.minMasses[queryMass], self.maxMasses[queryMass])){
                        self.matchedGlycopeptides[queryMass].push(glycopeptide);
                    }
                });
                /*}else{
                 nonRedundantBucket.forEach(function (glycopeptide){
                 self.matchedGlycopeptides[queryMass].push(glycopeptide);
                 });
                 }*/
            },
            _generateHeatmapDataset: function(bucketMass){
                var peptideList = [];
                var glycanList = [];
                var glycopeptideMap = [];
                var queryMass = this.queryBuckets[bucketMass];
                var self=this;
                if(this.matchedGlycopeptides[queryMass].length > 0) {
                    var peptideCounter = 0;
                    var glycanCounter = 0;
                    this.matchedGlycopeptides[queryMass].forEach(function (glycopeptide) {
                        glycopeptide = glycopeptide.split(',');
                        var peptide = glycopeptide[0];
                        if(!self._validateGlycan(glycopeptide[1],self.glycanFilter)){
                            return;
                        }
                        var glycan = glycopeptide[1].replace(":", "\:");
                        var glycopeptideMass = glycopeptide[2];
                        var peptideExists = self._contains(peptideList, peptide);
                        var glycanExists = self._contains(glycanList, glycan);
                        if(peptideExists!=-1){
                            peptideIdx = peptideExists;
                        }else{
                            peptideCounter = peptideCounter+1;
                            peptideIdx = peptideCounter;
                            peptideList.push(peptide);
                        }

                        if(glycanExists!=-1){
                            glycanIdx = glycanExists;
                        }else{
                            glycanCounter = glycanCounter+1;
                            glycanIdx = glycanCounter;
                            glycanList.push(glycan);
                        }
                        glycopeptideMap.push({'peptide': peptideIdx, 'glycan': glycanIdx, 'value': self._daltonToPpm(self.queryMasses[queryMass], Math.abs((Number(self.queryMasses[queryMass]))-glycopeptideMass)), 'mass': glycopeptideMass});
                    })
                }
                this.$.spinner.active=false;
                return({'mass': self.queryMasses[queryMass], 'data': {'peptides': peptideList, 'glycans': glycanList, 'map': glycopeptideMap}});
            },
            _validateGlycan: function (glycanString,rangeList) {
                var glycan = this._createGlycan(glycanString);
                for(var range in rangeList){
                    var minRange = Number(rangeList[range].minRange);
                    var presence = Boolean(rangeList[range].presence);
                    if(presence){   //Not possible in the range list.
                        if(minRange > 0 && !glycan.hasOwnProperty(range) ){
                            return false;
                        }
                        if(minRange > 0 && minRange > glycan[range] ){
                            return false;
                        }
                    } else {
                        if(glycan.hasOwnProperty(range)){
                            return false;
                        }
                    }
                }
                return true;
            },
            _createGlycan: function (glycanString) {
                var tokens = glycanString.split("|");
                var glycan = { };
                tokens.forEach(function (item) {
                    var monosaccharide = item.split(":");
                    glycan[monosaccharide[0]] = monosaccharide[1];
                });
                return glycan;
            },
            _validateTolerance: function(){
                if (this.toleranceUnit==="ppm" && this.toleranceValue>this.maxTolerance.ppm) {
                    this.$.tolerance.invalid=true;
                    var errorMessage="Max: "+this.maxTolerance.ppm;
                } else if (this.toleranceUnit==="Da" && this.toleranceValue>this.maxTolerance.da) {
                    this.$.tolerance.invalid=true;
                    var errorMessage = "Max: "+this.maxTolerance.da;
                } else {
                    this.$.tolerance.invalid=false;
                    return true;
                }
                if(errorMessage) this.$.tolerance.errorMessage = errorMessage;
            },
            _checkMass: function(mass, min, max){
                if (min <= mass && mass <= max){
                    return true;
                }else{
                    return false;
                }
            },
            _contains: function(a, obj){
                for (var i = 0; i < a.length; i++) {
                    if (a[i] === obj) {
                        return i+1;
                    }
                }
                return -1;
            },
            _ppmToDalton: function(mass, ppm){
                return (mass*ppm)/1000000;
            },
            _daltonToPpm: function(mass, da){
                return (da*1000000)/mass;
            },
            _initializeDefaultTolUnit: function(){
                this.set('toleranceUnit', 'ppm');
            },
            _initializeDefaultTolValue: function(){
                this.set('toleranceValue', 10);
            }
        });
    </script>
</dom-module>
